@mixin flex-center($flexDirection: row) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: center;
  justify-content: center;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}
