.logo {
    font: 12vw 'Arial Narrow', sans-serif;
    letter-spacing: -4px;
    transition: 0s all !important;
}

.logo span {
    position: relative;
}

.logo .secondary {
    transform: rotateY(180deg);
    display: inline-block;
}

.logo .primary {
    color: #dc006c;
}