.logo {
    font: 100px 'Arial Narrow', sans-serif;
    letter-spacing: -4px;
    transition: 0s all !important;
}

.logo span {
    position: relative;
}

.logo .secondary {
    transform: rotateY(180deg);
    display: inline-block;
}

.logo .primary {
    color: #dc006c;
}


@media screen and (max-width: 1240px) {
    .logo {
        font-size: 8vw;
    }
}


@media screen and (max-width: 380px) {
    .logo {
        font-size: 2rem;
        letter-spacing: -2px;
    }
}