body{
    background: linear-gradient(to right top, #8192ac, #4ca5c2, #00b7b5, #3bc382, #9ac43c)
}
#mainBody{
    margin-top: 10%;
    border: 1px solid green;
    border-radius: 10px;
}

#mainContent{
    border: 1px solid #001fff;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.tools{
    border-radius: 10px;
    padding: 1%;
    /*background: #5336f38c;*/
}

.tools img{
    /*height: 32px;*/
    /*width: 32px;*/

    margin-left: 10%;
    cursor: pointer;
}