html{
    height: 100%;
}
* {
    -webkit-transition: all 1s ease;
    -moz-transition:    all 1s ease;
    -ms-transition:     all 1s ease;
    -o-transition:      all 1s ease;
}

input, label{
    font-weight: 400 !important;
    font-family: 'Source Sans Pro', Arial, sans-serif !important;
}

body{
    /*background: linear-gradient(to right top, #8192ac, #4ca5c2, #00b7b5, #3bc382, #9ac43c);*/
    background: #282828;
    transition: all 0.9s;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    min-width: 380px;
    text-align: center;
}
#mainBody{
    margin-top: 1%;
    /*border: 1px solid green;*/
    border-radius: 10px;
}

#mainContent{
    /*box-shadow: 1px -1px #555;*/
    /*border: 1px solid #001fff;*/
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.tools{
    border-radius: 10px;
    padding: 1%;

    /*background: #5336f38c;*/
}

.tools img{
    /*height: 32px;*/
    /*width: 32px;*/
    /*transition: 1s;*/
    cursor: pointer;
    height: 100px;
}

.tools img + img {
    margin-left: 5%;
}


.toolSet{
    /*transition: 1s;*/
    margin-left: -1% !important;
    transform: matrix(0.5, 0, 0, 0.5, 0, -20);
}

.toolInactive{
    display: none;
}


#toolContent {
    widows: 0;
    color: #fff;
    /*transition: all 1.3s;*/
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

#toolContent.hidden {
    visibility: hidden;
}

.content {
    padding: 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.customTextBox{
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1.5em;
    border: none;
    outline: none;
    padding: 0 1rem;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
    /*box-shadow: inset 0 0 0 3px #fff, 0 0 0 2px #fff, 3px -3px 30px #b21111, -3px 3px 30px #625512;*/
    width: 80%;
    margin: 2%;
}

.textBoxStyleMinimal{
    color: white;
    box-shadow: none;
    font-size: 38px;
    /*background: #ffffff11;*/
    /*border: 1px solid #4c4c4c;*/
    background: transparent
}


::placeholder {
    color:#cbd0d555;
}
#panelParent{
    /*border: 1px solid wheat;*/
    /*border-radius: 10px;*/
    /*padding: 1% 2%;*/
    margin: 1% 2%;

}

.smallBox{
    width: 20%;
}

#uploadPhoto{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.customButton {
    text-align: center;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.customButton:hover{
    color: #337ab7;
    background-color: #fff;
}


.customButtonMinimal{
    background-color: transparent;
    font-size: 38px;
    border: 1px solid white;
}
.customButtonMinimal:hover{
    color: #4caf50;
}



#deletePanel label{
    color: #cbd0d555;
    font-size: 38px;
    padding: 2% 0;
    display: block;
}

#movieLibrary{
    font-size: 2rem;
    margin: 0 10%;
}

.movieItem{
    width: 20% !important;
    padding: 1% !important;
    min-width: 150px;
    display: inline-block;
    float: none !important;
}

.movieItem h5,.movieItem h6{
    margin: 0;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movieItem h5{
    color: #f4c12a;
}

.movieItem img{
    cursor: pointer;
    max-width:100%;
    max-height:100%;
    transition: 0.5s;
}

.movieRow + .movieRow {
    margin-top: 2%;
}

#nothingToShow #errorText {
    color: #ffffff22;
    font-size: 38px;
    font-weight: 400;
    margin: 0;
}

#nothingToShow img{
    width: 14rem;
}

#nothingToShow .ool-12{
    padding: 0 !important;
}

@media screen and (max-width: 1240px) {
    .tools img{
        height: 8vw;
    }

    .customTextBox {
        font-size: 1.2rem;
    }

    .textBoxStyleMinimal, .customButtonMinimal, #deletePanel label, #nothingToShow #errorText {
        font-size: 3vw;
    }

    #nothingToShow img{
        width: 18vw;
    }
}



@media screen and (max-width: 380px) {
    .content {
        padding: 0;
    }

    .customTextBox {
        font-size: 1.2rem;
    }

    #deletePanel label {
        font-size: 1rem;
        padding: 2% 15%;
    }

    .smallBox, .textBoxStyleMinimal {
        font-size: 1rem;
        padding: 0 0.2rem;
    }

    .tools img + img {
        height: 32px;
    }

    .tools img + img {
        margin-left: 0% !important;
    }



    .customButtonMinimal{
        font-size: 1rem;
    }


}